<!doctype html>
<html>
  <head>
    <%- partial 'partials/analytics' %>
    <%= partial 'partials/head' %>
  </head>
  <body>
    <%= partial 'partials/header' %>
    <%= yield %>
    <%= partial 'partials/footer' %>
  </body>
</html>
