<footer>
    <p class="text-muted text-center">
        <span class="update-year">&copy; <%= Date.today.year %> <a href="/"><%= ENV['APP_NAME'] %></a> - All rights reserved. Designed with <i class="icon icon-heart text-red"></i> in <%= ENV['APP_LOCATION'] %></span> | <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Use</a>
    </p>
</footer>